.waves {
	background-image: url("images/waves.jpg");
	height: 700px;
	width: 100%;
	background-repeat: no-repeat;
}

h6 {
	font-family: 'Oleo Script', cursive;
	color: gray;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: gray;
}